@page
@model CRUDify.WebUI.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Lista de Productos";
}

<h2>Lista de Productos</h2>
<button class="btn btn-primary mb-3 addProductBtn">Agregar</button>
<table id="productsTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Descripcion</th>
            <th>Imagen</th>
            <th>Stock</th>
            <th>Activo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="productsBody">
        @foreach (var product in Model.Products)
        {
            <tr data-product-id="@product.Id">
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td>
                    @if (!string.IsNullOrEmpty(product.Image))
                    {
                        <img src="data:image/jpeg;base64,@product.Image" alt="Imagen del producto" style="width:100px; height:100px" />
                    }
                    else
                    {
                        <span>Sin Imagen</span>
                    }
                </td>
                <td>@product.Stock</td>
                <td>@(product.Active ? "Si" : "No")</td>
                <td>
                    <button type="button" class="btn btn-sm btn-primary editProductBtn" data-product-id="@product.Id">Editar</button>
                    <button type="button" class="btn btn-sm btn-danger deleteProductBtn" data-product-id="@product.Id">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProductModalLabel">Editar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="productContent">
                <!--Se Va a cargar la Partial-->
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript" src="~/js/Products/Products.js"></script>
}
