@page
@model CRUDify.WebUI.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Lista de Usuarios";
}

<h2>Lista de Usuarios</h2>
<button class="btn btn-primary mb-3 addUserBtn">Agregar</button>
<table id="usersTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Activo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="usersBody">
        @foreach (var user in Model.Users)
        {
            <tr data-user-id="@user.Id">
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>@(user.LockoutEnabled ? "Si" : "No")</td>
                <td>
                    <button type="button" class="btn btn-sm btn-primary editUserBtn" data-user-id="@user.Id">Editar</button>
                    <button type="button" class="btn btn-sm btn-danger deleteUserBtn" data-user-id="@user.Id">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Editar Usuarios</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="userContent">
                <!--Se Va a cargar la Partial-->
            </div>
        </div>
    </div>
</div>


@section Styles {
    <script type="text/javascript" charset="utf-8" src="~/js/User/User.js"></script>
}
