@page
@model CRUDify.WebUI.Pages.Services.IndexModel
@{
    ViewData["Title"] = "Servicios";
}

<h2>Lista de Servicios</h2>
<button class="btn btn-primary mb-3 addServiceBtn">Agregar</button>
<table id="servicesTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Activo</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var service in Model.Services)
        {
            <tr>
                <td>@service.Id</td>
                <td>@service.Nombre</td>
                <td>@(service.Activo ? "Si" : "No")</td>
                <td>
                    <button type="button" class="btn btn-sm btn-primary editServiceBtn" data-service-id="@service.Id">Editar</button>
                    <button type="button" class="btn btn-sm btn-danger deleteServiceBtn" data-service-id="@service.Id">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="editServiceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editServiceModalLabel">Editar Servicio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="serviceContent">
                <!--Se Va a cargar la Partial-->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function(){
            $('#servicesTable').DataTable();
        });

        $('.addServiceBtn').click(function(){
            var url = 'Services/ServicePartial';
            $.ajax({
                url: url,
                type: "GET",
                success: function (data){
                    $("#serviceContent").html(data);
                    var modal = new bootstrap.Modal(document.getElementById('editServiceModal'));
                    modal.show();


                    $('#serviceForm').submit(function(e){
                        debugger
                        e.preventDefault();
                        var formData = new FormData(this);
                        $.ajax({
                                            url : url,
                                            type: "POST",
                                            data: formData,
                                            processData: false,
                                            contentType: false,
                                            success: function(response){
                                                if(response.success){
                                                      modal.hide();
                                                location.reload();
                                                }
                                            },
                                            error: function(){
                                                alert("error al guardar los cambios");
                                            }

                        });
                    });

                }
            });

        });


          $('.editServiceBtn').click(function(){

            var serviceId = $(this).data('service-id');
            var url = 'Services/ServicePartial?id=' + serviceId;
            $.ajax({
                url: url,
                type: "GET",
                success: function (data){
                    $("#serviceContent").html(data);
                    var modal = new bootstrap.Modal(document.getElementById('editServiceModal'));
                    modal.show();


                    $('#serviceForm').submit(function(e){
                        debugger
                        e.preventDefault();
                        var formData = new FormData(this);
                        $.ajax({
                                            url : url,
                                            type: "PUT",
                                            data: formData,
                                            processData: false,
                                            contentType: false,
                                            success: function(response){
                                                if(response.success){
                                                      modal.hide();
                                                location.reload();
                                                }
                                            },
                                            error: function(){
                                                alert("error al guardar los cambios");
                                            }

                        });
                    });

                }
            });

        });


        $('.deleteServiceBtn').click(function(){
                  Swal.fire({
                        title: "Eliminar",
                        text: "Estas por eliminar un servicio!",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Eliminar",
                        cancelButtonText: "Cancelar"
                        }).then((result) => {
                          if (result.isConfirmed) {
                              debugger
                              var serviceId = $(this).data("service-id");
                              var url ='Services/ServicePartial';
                                $.ajax({
                                    url : '@Url.Page("/Services/ServicePartial", new { handler = "Service" })',
                                    type: "DELETE",
                                    headers:{"RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()},
                                    contentType: "application/json",
                                    data: JSON.stringify({Id: serviceId}),
                                    success: function(response){
                                        if(response.success){
                                              Swal.fire({
                                              title: "Eliminado!",
                                              text: "El servicio fue eliminado.",
                                              icon: "success"
                                              });
                                        location.reload();
                                        }
                                        else
                                        {
                                             Swal.fire({
                                              title: "Error!",
                                              text: "Hubo un problema al eliminar el servicio.",
                                              icon: "error"
                                            })
                                        }
                                    }

                                });
                          }
                        });
        });
    </script>
}