@page
@model CRUDify.WebUI.Pages.Services.IndexModel
@{
    ViewData["Title"] = "Servicios";
}

<h2>Lista de Servicios</h2>
<button class="btn btn-primary mb-3 addServiceBtn">Agregar</button>
<table id="servicesTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Activo</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody id="ServicesBody">
        @foreach (var service in Model.Services)
        {
            <tr data-service-id="@service.Id">
                <td>@service.Id</td>
                <td>@service.Nombre</td>
                <td>@(service.Activo ? "Si" : "No")</td>
                <td>
                    <button type="button" class="btn btn-sm btn-primary editServiceBtn" data-service-id="@service.Id">Editar</button>
                    <button type="button" class="btn btn-sm btn-danger deleteServiceBtn" data-service-id="@service.Id">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="editServiceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editServiceModalLabel">Editar Servicio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="serviceContent">
                <!--Se Va a cargar la Partial-->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/Services/Services.js"></script>
}