@page
@model CRUDify.WebUI.Pages.Roles.IndexModel
@{
    ViewData["Title"] = "Lista de Roles";
}

<h2>Lista de Roles</h2>
<button class="btn btn-primary mb-3 addRoleBtn">Agregar</button>
<table id="rolesTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="rolesBody">
        @foreach (var roles in Model.Roles)
        {
            <tr data-role-id="@roles.Id">
                <td>@roles.Id</td>
                <td>@roles.Name</td>
                <td>
                    <button type="button" class="btn btn-sm btn-primary editRoleBtn" data-role-id="@roles.Id">Editar</button>
                    <button type="button" class="btn btn-sm btn-danger deleteRoleBtn" data-role-id="@roles.Id">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="editRoleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editRoleModalLabel">Editar Roleo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="roleContent">
                <!--Se Va a cargar la Partial-->
            </div>
        </div>
    </div>
</div>


@section Styles {
    <script type="text/javascript" charset="utf8" src="~/js/Roles/Roles.js"></script>
}
